#torch==1.5.0 must install from jetson site directly
#torchvision==0.6.0
easydict==1.13
opencv-python==4.9.0.80
numpy==1.26.4
# torchsummary==1.5.1 not really needed
#tensorboard==2.2.1
scikit-learn==1.4.2
wget==3.2
tqdm==4.66.4
matplotlib==3.8.4
